name: ai_fitness_app
description: A new Flutter project.

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_riverpod: ^2.5.1
  flutter_svg: ^2.0.10
  fl_chart: ^0.68.0
  video_player: ^2.8.6
  google_fonts: ^6.2.1
  cupertino_icons: ^1.0.2
  cached_network_image: ^3.3.1
  intl: ^0.18.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/

